/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, small, fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

/*TEXT STYLES*/
body { font-family: Georgia,"Times New Roman",Times,serif; line-height: 1.4em; }
a { color: #81290D; cursor: pointer; outline: medium none; text-decoration: none; }
h1 { font-size: 22px; text-transform: uppercase; color: #4D7238; padding-bottom: 16px; }
h1#error { font-size: 40px; color: red; }
#fb-profile { font-size: 14px; text-align: right; }
#brag-form h2 { color: #81290D; font-size: 16px; font-weight: normal; padding-bottom: 4px; }
#tag-list label { white-space:nowrap; }
h1#user-name, h1#category-name, h1#location-name { color: #4D7238; font-size: 20px; font-weight: normal; text-transform: uppercase; padding: 0px; }
#mainbar .profile-name h2 { color: #81290D; font-size: 16px; font-weight: normal; text-transform: uppercase; }
.brag-vote a, .user-beans p { font-size: 12px; }
.brag-entry .brag-message p, #sidebar p, #sidebar ul, p { font-size: 16px; padding-top: 8px; color: #636363; }
.brag-entry .brag-meta p, #sidebar p { text-align: left; font-size: 14px; padding-top: 8px; color: #636363; }
.user-beans p { text-align: center; line-height: 1em; color: #636363; }
#start h2 { color: #4D7238; font-size: 18px; font-weight: normal; padding-bottom: 4px; }
.leader-box-header h2 { color: #fff; font-size: 18px; font-weight: normal; padding: 0 0 4px 12px; }
#footer { font-size: 12px; color: #636363; }
.vote-button { color: #81290D;  }
#sidebar strong { color: #4D7238; }
ul#signup { font-size: 22px; padding-top: 8px; color: #636363; }
.vote-count, .beans { font-family: arial; }

/*LAYOUT*/
body { background-color: #eee9dc; }
#container { width: 728px; height: 100%; }

/*HEADER*/
#header { width: 100%; }
#top { height: 76px; }
#top-left { float: left; }
#top-right { float: right; }
#logo-wrap { }
#logo { width: 280px; height: 76px; margin-left: 20px; float: left; }
#fb-login { margin: 4px 26px 4px 0px; width: 400px; float: right; }
#fb-button { float: right; }
#fb-profile { float: right; padding: 2px 16px 0 0; }
#fb-profile img { border: 3px solid #222; }
#fb-profile p { padding: 0; }
#top-nav-wrap { }
#top-nav { float: right; margin: 10px 10px 0 0; }
#top-nav li { display: inline; color: #636363; font-size: 16px; padding-right: 20px; }
#content-top { background: url("../images/content-top.png") no-repeat scroll center top transparent; width: 720px; height: 40px; }


/*MAIN*/
#content { }
#content-middle { background: url("../images/content-mid.png") repeat-y scroll center top transparent; position: relative; width: 720px; float: left; }
#bar-wrapper { margin-left: 24px; width: 100%; }

/*FULLBAR*/
#fullbar { width: 600px; float: left; padding-right: 28px; min-height: 600px; }
ul#signup { list-style: none inside; }
ul#signup li { padding: 12px 0; }
ul#signup .step { font-size: 26px; -moz-border-radius: 20px; border: solid 0px #688b54; background-color: #688b54; color: white; margin: 12px; padding: 2px 14px 8px 14px; }

/*MAINBAR*/
#mainbar { width: 386px; float: left; padding-right: 28px; }
h1 span.beans { font-size: 26px; -moz-border-radius: 20px; border: solid 0px #688b54; background-color: #81290D; color: white; margin-left: 8px; padding: 4px 12px 4px 12px; }
.user-profile { height: 60px; }
.user-profile .profile-image { float: left; }
.user-profile .profile-image img { border: solid #c3c7bd 2px; }
.user-profile .profile-name, .user-profile-tiny .profile-name { margin: 12px 0 0 8px; float: left; }
.user-profile .user-beans { float: left; margin-left: 12px; }
.user-profile .user-bean-count { float: left; font-size: 20px; -moz-border-radius: 20px; border: solid 0px #688b54; background-color: #688b54; color: white; margin: -4px 6px 0 10px; padding: 4px 8px 8px 8px;  }
.user-profile .user-bean-text { float: right; }

.brag-user-profile { }
.brag-user-profile .profile-image { float: left; }
.brag-user-profile .profile-image img { width: 35px; height: 35px; border: solid #c3c7bd 2px; }
.brag-user-profile .profile-name { float: left; margin: 0 0 0 12px; }

#brag-form { margin: 6px 0 18px 0; float: left; clear: both; }

#text-box .text-area { border: 1px solid #c3c7bd; }
#tag-list { }
#tag-list ul, #tag-list li { display: inline; color: #636363; font-size: 12px; }
#submit-button { float: right; }

#brag-list { margin: 20px 0; clear:both; overflow: hidden; }
.brag-wrap { clear: both; }
.brag-wrap .brag-entry { background: url("../images/entry-separator.png") no-repeat scroll left bottom transparent; padding: 0 0 10px 0; margin-bottom: 10px; }
.brag-entry { float: left; overflow: hidden; padding: 10px 0; width: 100%; background: url("../images/entry-separator.png") no-repeat scroll left top transparent; }

.brag-vote { text-align: center; float: right; margin-bottom: 6px; }
.vote-button { background-color: transparent; text-decoration: underline; border: none; cursor: pointer; padding: 0; }

.vote-count { font-size: 20px; -moz-border-radius: 20px; border: solid 0px #688b54; background-color: #688b54; color: white; margin-top: 4px; padding: 4px 10px 4px 10px; }

/*SIDEBAR*/
#sidebar { width: 260px; float: left; }
.side-block { margin-bottom: 20px; clear: both; }
.leader-box { border: 2px solid #5e7e4c; }
.leader-box-header { background: none repeat scroll 0 0 #5e7e4c; }
.leader-box-content { padding: 2px 12px 6px; }
#start ul { list-style-image: url("../images/green-bullet.png"); margin-left: 20px;  }
#start-button { width: 88px; height: 32px; margin: 10px 0 0 172px; clear: both; }
#update p { text-align: right; padding: 0px 10px 0px 0px; }


/*FOOTER*/
#footer {  }
#content-bottom { background: url("../images/content-bottom.png") no-repeat scroll center top transparent; width: 720px; height: 28px; float: left; }
#footer-content { height: 28px; }
#bottom-nav { float: left; margin: 6px 0px 0px 24px; }
#bottom-nav li { display: inline; color: #636363; font-size: 16px; padding-right: 16px; }
#credit { float: right; margin: 0px 24px 10px 0; }
