{% extends "base.html" %}

	{% block title %}Sign Up, Go Green, Earn Beans - Greenbean{% endblock %}
	
	{% block main %}	
	<!-- FULLBAR --> 
	<div id="fullbar">
		<h1>Sign Up With Your Facebook Account</h1>
		<p>You need a Facebook account to play Greenbean.  Signing up with your Facebook account is easy:</p>
		<ul id="signup">
			<li><span class="step">1</span>Click the Facebook "login" button up top.</li>
			<li><span class="step">2</span>When Facebook's login page opens, login to Facebook.</li>
			<li><span class="step">3</span>Your name will appear up top, click to start playing.</li>
		</ul>	
		<br/><br/><br/>
		<p>Note about privacy: Greenbean will always give you the choice to publish status to your Facebook Page.</p>
		
                         
  </div><!-- /fullbar -->
	{% endblock %}	
	{% block sidebar %}
	<!-- no sidebar -->
	{% endblock %}	
