<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>{% block title %}Go Green, Earn Beans - Greenbean{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript">
	  	$(function() {  
	      $(".vote-form").submit(function() { 
					var $thisForm = $(this);
					var inputs =	$(this).find('input:hidden');
					var key = $('input.brag', this).val();
					$.ajax({  
						type: "POST",  
					  url: "/bean",  
					  data: inputs,  
					  success: function(data) {  
							var $div = $('#' + key),
							    intValue = parseInt($div.html(), 10);
							$div.html(++intValue);
							$('input.vote-button', $thisForm).hide();
					  }  
					});  
					return false;
	    	});  
	   	});
		</script>
		<!--<script type="text/javascript">
	  	$(function() {  
	      $('.error').hide();  
	      $("#share-button").click(function() { 
		      var fb_id = $("input#fb-id").val();
		      var message = $("#message").val();
		      var origin = $("input#origin").val();
		      var dataString = 'origin=' + origin+'&message='+message+'&fb_id='+ fb_id;  
					//alert (dataString);return false;  
					$.ajax({  
						type: "POST",  
					  url: "/post-brag",  
					  data: dataString//,  
					  //success: function() {  
					  //	$('#brag-form').html("<div id='message'></div>");  
					  //  $('#info-message').html("<h2>Green status posted!</h2>");  
					  //}  
					});  
					return false;
	    	});  
	   	});
		</script>-->

    </head>
  <body>
    <div id="container">

    	<!-- HEADER --> 
      <div id="header">
				<div id="top">
					<div id="logo"></div>
					<div id="fb-login">
						<div id="fb-button">
							<fb:login-button autologoutlink="true" perms="publish_checkins,publish_stream"></fb:login-button>
						</div>
			    	{% if current_user %}
			      <div id="fb-profile">
							<p>Hello, <a href="/user/{{current_user.fb_id}}">{{current_user.name}}</a></p>
						</div>
			    	{% endif %}
					</div>
				</div>	
        <div id="content-top"></div>
      </div>

      <!-- MAIN CONTENT --> 
      <div id="content">
        <div id="content-middle">
        	<div id="bar-wrapper">
						{% block main %}
						{% endblock  %}
						
						{% block sidebar%}
						{% endblock %}						

          </div><!-- /bar-wrapper -->
        </div><!-- /content-middle -->
      </div><!-- /content -->

      <!-- FOOTER --> 
      <div id="footer">
      	<div id="content-bottom"></div>   
        <div id="footer-content">
        	<div id="credit"><a href="http://code.google.com/appengine/"><img src="/static/images/appengine-silver-120x30.gif"/></a></div>
        </div>       
      </div>
    </div><!-- /container -->

		<!-- Facebook Authentication -->
		<div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, 
               xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
        FB.Canvas.setAutoResize();
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
  </body>
</html>