{% extends "base.html" %}

	{% block title %}{{location_beans.fb_name|escape}} - Greenbean{% endblock %}
	
	{% block main %}	
	<!-- MAINBAR --> 
	<div id="mainbar">
    <!-- brag-list: container for list of Brags. --> 
		<h1>{{location_beans.fb_name|escape}}  {% if location_beans.beans %} -   {{location_beans.beans}} {% endif %}</h1>
		<p>Latest bean requests for those looking to Go Green in the category "{{location_beans.fb_name|escape}}".</p>
    <div id="brag-list">
    {% for brag in brags %}
  		<div class="brag-wrap">
	  		<!-- user-profile: container for the user's avatar and name. -->
	    	<div class="brag-user-profile">
	    		<div class="profile-image">
	      		<a href="{{ brag.user.fb_profile_url }}"><img src="http://graph.facebook.com/{{brag.user.fb_id }}/picture?type=square"/></a></p>
	      	</div>
	      	<div class="profile-name">
	      		<h2>
							<span class="name"><a href="/user/{{brag.user.fb_id}}">{{ brag.user.name|escape }}</a></span>
							<!--<span class="beans-count"> ({{beans}})</span>-->
						</h2>
	      	</div>
    		</div>
    		<!-- brag-entry: container for a single Brag -->
      	<div class="brag-entry">
					<div class="brag-vote">
						<form class="vote-form" action="">
       				<div id="{{brag.key}}" class="vote-count">{{brag.beans}}</div>
						  {% if current_user.fb_id %}
							  {% if not current_user.fb_id|in_list:brag.voter_keys %}
							  <input class="vote-button" type="submit" class="text-button" value="vote+"/>
							  <input type="hidden" class="brag" name="brag" value="{{brag.key}}">
							  <input type="hidden" class="votee" name="votee" value="{{brag.user.fb_id}}">
							  <input type="hidden" class="voter" name="voter" value="{{current_user.fb_id}}">
							  {% endif %}          	
							{% endif %}
        		</form>
					</div>
        	<div class="brag-message">
        		<p>{{ brag.message|escape }}</p>
        	</div>          
        	<div class="brag-meta">
         		<p>{{brag.created|timesince}} ago 
						{% if brag.fb_location_name %}
							in {{ brag.fb_location_name }} 
						{% endif %}
           		{% for c in brag.categories%}
            	<a href="/category/{{c}}">#{{c}} </a>
            	{%endfor%}
          	</p>
        	</div>          
        	<!--
					<div class="brag-comments">...
					</div>
					--> 
      	</div><!-- /brag-entry -->
			</div><!-- /brag-wrap -->
    {% endfor %}
    </div><!-- /brag-list -->                           
  </div><!-- /mainbar -->
	{% endblock %}	
	
	{% block sidebar %}
  <!-- SIDEBAR --> 
  <div id="sidebar">
		{% ifnotequal current_user.fb_id profile_user.fb_id %}
  	<div class="side-block">
			<div id="start">
      	<h2>Go Green, Earn Beans!</h2>
        <ul>
        	<li>Get ranked on your Green accomplishments.</li>
          <li>Earn beans for you and your community and win prizes.</li>
        </ul>
        <div id="start-button">
					<a href="/signup"><img src="/static/images/get-beans-button.png"/></a>
				</div>
      </div><!-- /start -->
    </div><!-- /side-block -->
		{% endifnotequal %}

  	<div class="side-block">
    	<div id="leaders" class="leader-box">
				<div class="leader-box-header">
      		<h2>Greenbean Leaders</h2>
        </div>
				<div class="leader-box-content">
					<ul>
					{% for x in leaders %}
        		<li>{{x.beans}} -- <a href="/user/{{x.user.fb_id}}">{{x.user.name}}</a></li>
					{% endfor %}
      		</ul>
				</div>
      </div><!-- /leaders -->
    </div><!-- /side-block -->

  	<div class="side-block">
    	<div id="cat-leaders" class="leader-box">
				<div class="leader-box-header">
      		<h2>Top Categories</h2>
				</div>
				<div class="leader-box-content">
        	<ul>
					{% for c in category_leaders %}
        		<li>{{c.beans}} -- <a href="/category/{{c.name}}">{{c.name}}</a></li>
					{% endfor %}
      		</ul>
				</div>
      </div><!-- /cat-leaders -->
    </div><!-- /side-block -->

  	<div class="side-block">
    	<div id="loc-leaders" class="leader-box">
				<div class="leader-box-header">
      		<h2>Top Locations</h2>
				</div>
				<div class="leader-box-content">
        	<ul>
					{% for l in location_leaders %}
         		<li>{{l.beans}} -- <a href="/location/{{l.fb_id}}">{{l.fb_name}}</a></li>
 					{% endfor %}
        	</ul>
				</div>	
      </div><!-- /loc-leaders -->
    </div><!-- /side-block -->

  </div><!-- /sidebar -->	
	{% endblock %}