{% extends "base.html" %}

	{% block title %}Page Not Found - Greenbean{% endblock %}
	
	{% block main %}	
	<!-- FULLBAR --> 
	<div id="fullbar">
		<h1 id="error">We Don't Have That</h1>
		<p>AKA error 404, Page Not Found.<p>
		<p>Sorry to tell you that whatever you're trying to find is not available.  But rest assured it's probably only 49% your fault, which leaves the majority of the blame with us.  It's also 99% likely that the aforementioned "majority of the blame" should go to Will Merydith, who spends most of his time pretending to be a programmer.  It's a wonder this site works at all frankly.</p>
		<br/>
		<p>Try our home page:</p>
		<p><a href="/">http://greenbean.me</a></p>
                         
  </div><!-- /fullbar -->
	{% endblock %}	
	{% block sidebar %}	
	{% endblock %}	