<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ application_name }}{% endblock %}</title>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    {% block head %}{% endblock %}
  </head>
  <body {% block bodyattributes %}{% endblock %}>
    {% block header %}
      <script type="text/javascript">
  //<![CDATA[

  function voteForBean() {
    // Get the user id and the bean id
    var form = document.getElementById("tasklistform");
    var dialog = document.getElementById("tasklistform_dialog");
    DialogBox.instance().show(dialog, function() {
      form["name"].focus();
    });
  }
      </script>
      
  <div id="fb-root"></div>
  <div class="title"><a href="/"><img src="/static/images/logo.png" alt="Google Wiki"/></a></div>
  <div class="button">
  <fb:login-button autologoutlink="true" perms="read_stream,publish_stream"></fb:login-button>
  </div>
      <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true, xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          window.location.reload();
        });
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>

    <div id="header">
    <div >
    {% if current_user %}
      <p><a href="{{ current_user.profile_url }}"><img src="http://graph.facebook.com/{{ current_user.fb_id }}/picture?type=square"/></a></p>
      <p>Hello, {{ current_user.name|escape }}</p>
      Total Votes: {{ user.userBeans }}
    {% endif %}
    <!-- City: {{city}} -->
    </div>

    </div>
    {% endblock %}
    
    
    <div id="body">
        <br/>
        <div id="form_fill">
        <form action="/sign" method="post">
        <div><textarea name="content" rows="3" cols="50"></textarea>
        </div>
        <div id="tag_checks">
            <ul>
            {% for category in categories %}
            <li>
            <input name="cat_checks" type="checkbox" value="{{ category.key }}" />{{ category.name }}<br />
            </li>
            {%endfor %}
            </ul>
          </div>
          <div><input type="submit" value="Share"></div>
        </form>
        </div>
        </div>
    <br/><br/>
        {% block body %}{% endblock %}</div>
    {% block footer %}{% endblock %}
  </body>
</html>