{% extends "base.html" %}

	{% block title %}Greenbean - User Name{% endblock %}
	
	{% block main %}	
	<!-- MAINBAR --> 
	<div id="mainbar">
  	<!-- user-profile: container for the user's avatar and name. -->
  	<div class="user-profile">
    	<div class="profile-image">
      	<a href="{{ profile_user.fb_profile_url }}"><img src="http://graph.facebook.com/{{ profile_user.fb_id }}/picture?type=square"/></a></p>
      </div>
      <div class="profile-name">
      	<h2 id="user-name">
					<span class="name">{{ profile_user.name|escape }}</span>
					{% if current_user.userBeans %}
					<span class="beans-count"> ({{profile_user.userBeans}})</span>
					{% endif %}
				</h2>
      </div>
    </div><!-- /user-profile -->
  	<!-- brag-form: container for the Brag entry form -->
		{% ifequal current_user.fb_id profile_user.fb_id %}
    <div id="brag-form">
      <h3>Doing something Green? Share it and earn rewards.</h3> 
   	  <form name="input" action="/user/{{profile_user.fb_id}}" method="post"> 
      	<div id="text-box">
  				<textarea class="text-area" id="message" name="message" rows="3" cols="46"></textarea>
        </div>
        <div id="tag-list">
        	<ul>
          {% for c in categories %}
          	<li>
            	<label><input name="category" type="checkbox" value="{{c}}" />{{c}}</label>
            </li>
          {%endfor %}
          </ul>
        </div>
				<input type="hidden" id="origin" name="origin" value="facebook"/>
        <div id="submit-button">
					<input type="submit" name="submit" class="button" id="share-button" value="Share" >
				</div>
      </form>
    </div><!-- /brag-form -->
		{% endifequal %}
    <!-- brag-list: container for list of Brags. --> 
    <div id="brag-list">
    {% for brag in brags %}
    	<!-- brag-entry: container for a single Brag -->
      <div class="brag-entry">
      	<div class="brag-vote">
       		<div class="vote-count">{{brag.bCount}}</div>
           	<a href='/vote?id={{brag.brag.key}}'>vote+</a>
					<form>
						<input type="hidden" id="voter" name="voter" value="{{current_user.fb_id}}">
						<input type="submit">
        	</form>
				</div>
        <div class="brag-message">
        	<p>{{ brag.brag.message|escape }}</p>
        </div>          
        <div class="brag-meta">
         	<p>{{brag.brag.create_date|timesince}} ago - 
           	{% for c in brag.brag.categories%}
            <a href="/category/{{c}}">#{{c}} </a>
            {%endfor%}
          </p>
        </div>          
        <!--
				<div class="brag-comments">...
				</div>
				--> 
      </div><!-- /brag-entry -->
      {% endfor %}
    </div><!-- /brag-list -->                           
  </div><!-- /mainbar -->
	{% endblock %}	
	
	{% block sidebar %}
  <!-- SIDEBAR --> 
  <div id="sidebar">
  	<div class="side-block">
    	<div id="start">
      	<h3>Go Green, Earn Beans!</h3>
        <ul>
        	<li>Get ranked on your Green accomplishments.</li>
          <li>Earn beans for you and your community and win prizes.</li>
        </ul>
        <div id="start-button">
					<a href="#"><img src="/static/images/get-beans-button.png"/></a>
				</div>
      </div>
    </div>
  </div><!-- /sidebar -->	
	{% endblock %}