<!DOCTYPE html>

<!--
This document redirects the parent window to the authorization
dialog automatically, or falls back to a link if the client does not
support JavaScript.
-->

<html>
  <head>
    <script type="text/javascript">
      window.parent.location = 'https://graph.facebook.com/oauth/authorize?client_id={{ facebook_app_id }}&redirect_uri={{ redirection }}&scope={{scope}}';
    </script>
  </head>

  <body>
    You must <a target="_top" href="https://graph.facebook.com/oauth/authorize?client_id={{ facebook_app_id }}&redirect_uri={{ redirection }}&scope={{scope}}">authorize this application</a> in order to proceed.
  </body>
</html>