<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>Green Bean Me</title>
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
	  
	  

        
    </head>
    <body>
<div id="fb-root"></div>


		<div id="container">
           	<!-- HEADER --> 
           	<div id="header">
               	<div id="logo"></div>
               	<div id="content-top"></div>
		
		<!--
               	<div class="button">
               		<fb:login-button autologoutlink="true" perms="read_stream,publish_stream"></fb:login-button>
               	</div>
		-->
           	</div>
            
           	<!-- MAIN CONTENT --> 
           	<div id="content">
               	<div id="content-middle">
                   	<div id="bar-wrapper">
		      
                       	<!-- MAINBAR --> 
                       	<div id="mainbar">
			  <div id="fb-root"></div>
 <script src="http://connect.facebook.net/en_US/all.js"></script>
       	<script>
       		window.fbAsyncInit = function() {
       			FB.init({appId: '13641208923', status: true, cookie: true, xfbml: true});
       			FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
       				window.location.reload();
       			});
       			FB.Canvas.setAutoResize();
    		};
    		(function() {
       			var e = document.createElement('script');
       			e.type = 'text/javascript';
       			e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
       			e.async = true;
       			document.getElementById('fb-root').appendChild(e);
    		}());
    	</script>

                           	<!-- user-profile: container for the user's avatar and name. -->
                           	<div class="user-profile">
                           	{% if current_user %}      
                               	<div class="profile-image">
                                   	<a href="{{ current_user.profile_url }}"><img src="http://graph.facebook.com/{{ current_user.fb_id }}/picture?type=square"/></a></p>
                               	</div>
                               	<div class="profile-name">
                                   	<h2>{{ current_user.name|escape }} ({{current_user.userBeans}})</h2>
					<p><a href="/auth/logout">Log out</a></p>
                               	</div>
				    {% else %}
				    <p>You are not yet logged into this site</p>
				    <p><a href="/auth/login">Log in with Facebook</a></p>
                           		{% endif %}                             
                           	</div>
                           
                           	<!-- brag-form: container for the Brag entry form -->
				{% if current_user %}
                           	<div id="brag-form">
                           		<form action="/sign" method="post">
                                  	<h3>Doing something Green? Share it and earn rewards.</h3> 
                               		<div id="text-box">
					  <textarea class="text-area" name="content" rows="3" cols="46"></textarea>
                               		</div>
                               		<div id="tag-list">
                                   		<ul>
                               				{% for category in categories %}
                                       		<li>
                               					<input name="cat_checks" type="checkbox" value="{{ category.key }}" />{{ category.name }}<br />
                               				</li>
                               				{%endfor %}
                                   		</ul>
                               		</div>
                               		<div id="submit-button"><input class="button" value="Share" type="submit"></div>
                           		</form>
                       		</div>
				{%endif%}
                           	<!-- brag-list: container for list of Brags. --> 
                           	<div id="brag-list">
                           		{% for brag in newBrags %}
                               	<!-- brag-entry: container for a single Brag -->
                               	<div class="brag-entry">
                               		<div class="brag-vote">
                                       	<div class="vote-count">{{brag.bCount}}</div>
                                        	<a href='/vote?id={{brag.brag.key}}'>vote+</a>
                                    	</div>
                                   	<div class="brag-message">
                                       	<p>{{ brag.brag.message|escape }}</p>
                                   	</div>          
                                   	<div class="brag-meta">
                               			<p>{{brag.brag.create_date|timesince}}- 
                               				{% for cat in brag.brag.category%}
                               				<a href="#">#{{cat}} </a>
                               				{%endfor%}
                               			</p>
                                   	</div>          
                                   	<!--<div class="brag-comments">...</div>  --> 
                               	</div><!-- /brag-entry -->
                           		{% endfor %}
                           	</div><!-- /brag-list -->                           
                    	</div><!-- /mainbar -->

                     	<!-- SIDEBAR --> 
                       	<div id="sidebar">
	                        <div class="side-block">
	                            <div id="start">
                                    <h3>Who's The Greenest Of Them All?</h3>
		                            <ul>
		                                <li>Get ranked on your Green accomplishments.</li>
		                                <li>Earn beans for you and your community and get rewards.</li>
		                            </ul>
		                            <div id="start-button"><a href="#"><img src="static/images/get-beans-button.png"/></a></div>
		                        </div>
		                    </div>
                       	</div><!-- /sidebar -->
                    
                   	</div><!-- /bar-wrapper -->
               	</div><!-- /content-middle -->
           	</div><!-- /content -->
           
           	<!-- FOOTER --> 
           	<div id="footer">
              	<div id="content-bottom"></div>                  
           	</div>

       	</div><!-- /container -->
		
   	</body>
</html>
