{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
 
    <div class="floatcontainerdiv">
      {% for brag in newBrags %}
    	<div id="form_fill">
	<b>{{ brag.brag.user.name }}</b> wrote: {{ brag.brag.message|escape }}
	<hr/>
	<p>User: <a href="user?user={{ brag.brag.user.fb_id }}"><img src="http://graph.facebook.com/{{ brag.brag.user.fb_id }}/picture?type=square"/></a></p>
	Votes: {{brag.bCount}}
	<br/><br/>
        Vote: <a href='/vote?id={{brag.brag.key}}' class="vote"><b>+</b></a>
	<br/>
	Tags: <b>{{brag.cats}}</b>
    </div>
       </div>

    {% endfor %}
{% endblock %}
