{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

One of my beans

 {{status_id}}


    
  <div class="floatcontainerdiv">
      {% for bean in beans %}
    	<div class="floatleftdiv">
	    <p><a href="user?user={{ bean.id }}"><img src="http://graph.facebook.com/{{ bean.id }}/picture?type=square"/></a></p>
        </div>
        <div class="floatrightdiv">
                <b>{{ bean.author }}</b> wrote: <blockquote>{{ bean.content|escape }}</blockquote>
        </div>
        <br style="clear:both" />
       </div>
        {% endfor %}
    {% endblock %}